// colors
$off-white: #f8f8ff;
// $light-grey: #f2f2f2;
$blue: #3d7aef;
$light-blue: hsla(203, 97%, 81%, 0.5);
$white: #f0f8ff;

// sizes
$s-size: 0.8rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$xxl-size: 7.2rem;
$xxxl-size: 10rem;
$desktop-breakpoint: 45rem;
