// colors
$turquoise-base: #00afb9;
$turquoise-light: #00c2cc;
$turquoise-dark: #009199;
$turquoise-dark-hover: #007980;
$turquoise-green: #009199;
$off-white: #f7f7f7;
$light-grey: #dcdcdc;

// sizes
$s-size: 0.8rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$xxl-size: 7.2rem;
$xxxl-size: 10rem;
$desktop-breakpoint: 45rem;
