button {
  @extend .btn;
}

.btn__link {
  @extend .btn-lg;
  padding: 0px;
  text-decoration: none;
  background-color: $blue;

  &--right {
    float: right;
  }
}

.btn--wrapper {
  float: right;
  width: 50px;
}

.btn--posts {
  margin-left: $s-size;
}

.btn--submit {
  background-color: $blue;
  color: $off-white;

  &:hover {
    background-color: lighten($blue, 5%);
    color: $off-white;
  }
}

.btn-profile {
  font-size: $m-size;

  &:hover {
    text-decoration: underline;
  }
}

.btn--upload {
  @extend .btn-secondary;
  background-color: $blue;
  color: $off-white;
  &:hover {
    background-color: lighten($blue, 5%);
    color: $off-white;
  }
}
