.button {
  background: $turquoise-dark;
  color: white;
  border: none;
  font-size: 1.8rem;
  font-weight: 300;
  padding: $s-size;
  &:hover {
    background: $turquoise-dark-hover;
  }
}

.button-link {
  text-decoration: none;
}
