.shadow {
  @extend .shadow-sm;
}

.form-container {
  width: 500px;
}

.profiles-container {
  margin: 0px $xxl-size;
}

.inputs-container {
  padding: 0 60px;
}

// .content-container {
//   margin: $l-size auto;
//   padding: $s-size $m-size;
//   max-width: 80rem;
// }

// .item-conteiner {
//   position: relative;
//   margin: $m-size;
//   padding: $m-size;
// }

// .links-container {
//   width: 40%;
// }

// .container {
//   padding: $m-size 0;
//   margin: $m-size 0;
// }

// .post-container {
//   background-color: $light-grey;
//   padding: $s-size $s-size;
// }

// .post-footer {
//   display: flex;
//   justify-content: space-between;
// }

// .date {
//   text-align: center;
//   padding: 0;
//   margin: 0;
// }

// .link-back {
//   height: 60px;
//   margin-top: $m-size;
// }
