.post-form {
  @extend .card;
  @extend .bg-light;
  margin: $s-size auto;
  border-radius: 10px;
}

.post-form-body {
  @extend .card-body;
  border-radius: 10px;
}

.comment-form {
  @extend .d-flex;
  @extend .align-items-center;
  @extend .justify-content-between;
}

.form__header {
  text-align: center;
  margin: 15px auto;
}

.form__footer {
  padding: 0 60px;
  margin-bottom: 15px;

  p {
    margin: 15px 0px;
  }
}

.form__footer--btn {
  padding: 0px 0px;
}

.form-header {
  margin: $s-size $l-size;
}
