.form {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  border: 1px #cacccd;
  margin: 25px auto;
  padding: 25px 25px 25px 25px;
  background-color: $turquoise-light;
  > * {
    margin-bottom: $s-size;
  }
}
