.text-input {
  @extend .form-control;
  font: {
    size: 15px;
    weight: bold;
  }

  &__item--profile {
    margin-bottom: $m-size;
  }
}

.file-upload-inputs {
  @extend .custom-file;
  padding: 0px 0px;
  width: $xxl-size;
  border-radius: 10px;
  background-color: green;
}
