.landing {
  border: 1px solid gray;
  //   background-color: LightCyan;
  background: #daebe8;
  padding: 8px;
}

.landing__title {
  text-align: center;
  text-transform: uppercase;
  color: #4caf50;
}

.landing__text {
  text-indent: 50px;
  text-align: center;
  letter-spacing: 3px;
}
