.item {
  @extend .card;
  @extend .bg-light;
  margin: $s-size auto;
  border-radius: 10px;
}

.item-body {
  @extend .card-body;
  padding: 0 $l-size;
  p {
    margin-bottom: 0px;
  }
}

.item-header {
  padding: $m-size $l-size 0px;
  h4 {
    margin: 0 auto;
  }
}

.item-footer {
  padding: $s-size $l-size $m-size;
  p {
    margin-bottom: 0px;
  }
}

.post-buttons-wrapper {
  @extend .d-flex;
  @extend .justify-content-between;
}

.comment {
  @extend .card;
  @extend .bg-light;
  border-style: none;
  margin: $s-size auto;
}

.comment-body {
  @extend .item-body;
}

.comment-header {
  @extend .item-header;
  padding-top: $s-size;
  padding-bottom: $s-size;
}

.comment-footer {
  @extend .item-footer;
  padding-bottom: 0px;
}

.profile-item {
  @extend .item;
  margin-left: 50px;
  margin-right: 50px;
  padding: 15px 20px 15px 20px;

  &__header {
    margin-bottom: $m-size;
    @extend .media;
  }

  &__image {
    @extend .mr-3;
    @extend .rounded-circle;
  }

  &__name {
    @extend .media-body;

    h4 {
      margin: 0px;
      font-size: 25px;
    }
  }

  &__body {
    margin-bottom: $m-size;
  }

  &__skill-list {
    list-style: none;
    margin: 0px;
    padding: 0px;

    li {
      display: inline;
    }
  }
}

.profile {
  &__header {
    font-size: $l-size;
    text-align: center;
    margin-bottom: $m-size;
  }

  &__img {
    text-align: center;
    margin-bottom: $m-size;
    padding: 0px 110px;
  }

  &__body {
    align-content: left;
    padding: 0px 50px;
    ul {
      @extend .list-group;
      @extend .list-group-flush;

      padding: 0px;
      li {
        background-color: $white;
      }
    }
  }
}
